.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 fr grid template */
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; /* 4 fr grid template */
}

nav {
  background-color: bisque;
}

main {
  background-color: burlywood;
}

#sidebar {
  background-color: cadetblue;
}

#content1 {
  background-color: chartreuse;
}

#content2 {
  background-color: chocolate;
}

#content3 {
  background-color: coral;
}

footer {
  background-color: cornflowerblue;
}
